<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Página do Médico</title>
</head>
<body>
    <div>
        <p>Nome: {{ nome }}</p>
        <p>CPF: {{ cpf }}</p>
        <p>E-mail: {{ email }}</p>
        <p>Usuario: {{ usuario }}</p>
        <p>Senha: {{ senha }}</p>
        <p>Nascimento: {{ nascimento }}</p>
        <p>Endereço: {{ endereco }}</p>
        <p>Área: {{ area }}</p>
        <p>Especialidade: {{ especialidade }}</p>
        <p>Local: {{ local }}</p>
        <p>CRM: {{ crm }}</p>
        <p>Planos: {{ planos }}</p>
    </div>
    <br>
    <a href="index">Página Inicial2</a>
</body>
</html>
